$font-stack: Helvetica, sans-serif;
$primary-color: #989898;
$bg-color: #202020;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $bg-color;
}

h2 {
  font-size: 34px;
  font-weight: 300;
  line-height: 1.38;
  margin-bottom: 23px;
}

.inversed-color {
  color: #fff;
}

.banner-hero {
  background-color: $bg-color;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .container {
    z-index: 10;
    .title {
      margin-bottom: 18px;
      font-size: 50px;
      font-weight: 600;
      line-height: 1.1;
      span {
        color: #ff4545;
      }
    }
    .descr {
      line-height: 1.7;
    }
  }
  .pattern {
    width: 100%;
    top: 40%;
    position: absolute !important;
  }
}
section {
  padding: 140px 0;
  position: relative;
  overflow: hidden;
}
